[Desktop Entry]
Version=1.0
Type=Application
Name=Dolphin (KDE - themed)
GenericName=File Manager
Comment=Browse files with Dolphin (launches with KDE/Qt theme hints)
Exec=/home/pckaguya/.local/bin/dolphin-kde %F
TryExec=/home/pckaguya/.local/bin/dolphin-kde
Icon=org.kde.dolphin
Terminal=false
Categories=System;FileManager;
MimeType=inode/directory;
StartupNotify=false
